@media screen and (max-width: 1440px) {
    .interface .container {
        max-width: 500px;
        height: initial;

        .left {
            display: none;
        }

        .right {
            width: 100%;
            padding: 50px 0;
        }
    }
}

@media screen and (max-width: 500px) {
    .interface .container {
        height: 100%;

        .left {
            display: none;
        }

        .right {
            width: 100%;
            height: 100%;
            padding: initial;
        }
    }
}