:root {
    --primary-color: #287bff;
    --white: #fff;
    --gray: #f5f5f5;
    --black: #000;
    --black1: #222;
    --black2: #333;
    --sucess: #008000;
    --danger: #f00;
    --shadow: rgba(0, 0, 0, .08)
}