<!DOCTYPE html>
<html lang='pt-br'>

<head>

    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>

    <link rel="stylesheet" href="/static/css/var.css">
    <link rel='stylesheet' href='/static/css/styleGlobal.css'>
    <link rel='stylesheet' href='/static/css/dashboard.css'>


    <title>Dashboard</title>

</head>

<body>

    <div class='interface'>

        <div class='menuLateral'>
            <button class='btnLogo'><img src='/static/images/logoBarao.png' alt='Logo da facul'></button>

            <nav>

                <ul class='list'>
                    <li><a href='/admin'><ion-icon name="home-outline"></ion-icon> Dashboard</a></li>
                    <li><a href='/admin/operacoes'><ion-icon name="git-compare-outline"></ion-icon>Operações</a></li>
                    <li><a class='activeBorder' href='/admin/home'><ion-icon name="wallet-outline"></ion-icon> Fluxo de
                            Caixa</a></li>
                    <li><a href='/admin/services'><ion-icon name="cube-outline"></ion-icon> Produtos e Serviços</a></li>
                    <li><a href='/admin/relatorios'><ion-icon name="alert-circle-outline"></ion-icon> Relatórios
                            Financeiros</a></li>
                    <!-- <li><a href='/admin/tutoriais'><ion-icon name="book-outline"></ion-icon> Tutoriais</a></li> -->
                    <li><a href='/admin/settings'><ion-icon name="settings-outline"></ion-icon> Configurações</a></li>
                </ul>

            </nav>

            <button class='btnOut' onclick="logout()"><ion-icon name="log-out-outline"></ion-icon> Sign out</button>

        </div>

        <main class='iMain'>

            <h2 style="color: #333; font-weight: 0;">Fluxo de caixa</h2>
            <form id='filterForm'>
                <div class='filterContainer'>
                    <div class="inputWrapper">
                        <label for='startDate'>Data Inicial:</label>
                        <input type="text" id="startDate" name="startDate" placeholder="dd/mm/yyyy"
                            pattern="\d{2}/\d{2}/\d{4}" maxlength="10" oninput="mask(this)" onchange="filterByDate()">
                    </div>
                    <div class="inputWrapper">
                        <label for='endDate'>Data Final:</label>
                        <input type="text" id="endDate" name="endDate" placeholder="dd/mm/yyyy"
                            pattern="\d{2}/\d{2}/\d{4}" maxlength="10" oninput="mask(this)" onchange="filterByDate()" onkeypress="if(event.key === 'Enter') filterByDate()">
                    </div>
                    <div class='fieldContent'>
                        <label for='filterType'>Tipo de operação</label>
                        <select name='filterType' id='filterType' onchange="filterOperations()">
                            <option value=''>Selecione</option>
                            <option value='aluguel'>Aluguel</option>
                            <option value='compra'>Compra</option>
                            <option value='taxa'>Taxa</option>
                            <option value='venda'>Venda</option>
                        </select>
                    </div>
                    <div class="fieldContent">
                        <label for="">Resetar Tabela</label>
                        <button type="button" class='btnReset' onclick="resetTable()">Reset</button>
                    </div>
                </div>
            </form>

            <div class="tableContent">
                <table class="finance-table">
                    <thead>
                        <tr class="table-header">
                            <th class="table-header-cell">Tipo:</th>
                            <th class="table-header-cell">Descrição:</th>
                            <th class="table-header-cell">Produto:</th>
                            <th class="table-header-cell">Movimentação:</th>
                            <th class="table-header-cell">Data:</th>
                        </tr>
                    </thead>
                    <tbody class="tabela-op">


                    </tbody>
                </table>
            </div>
        </main>

        <footer>
            <div class="logo">
                <img src="/static/images/pantheon.png" alt="Pantheon labs.">
                Pantheon <em> Labs </em>
            </div>
            <div class="copyright">Todos os direitos reservados - 2024</div>
        </footer>


    </div>

    <script>
        const mask = (input) => {
            let value = input.value.replace(/\D/g, '');
            if (value.length > 2) {
                value = value.replace(/^(\d{2})(\d)/, '$1/$2');
            }
            if (value.length > 5) {
                value = value.replace(/^(\d{2})\/(\d{2})(\d)/, '$1/$2/$3');
            }
            input.value = value;
        };
    </script>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="/static/js/apiUtils.js"></script>
    <script src="/static/js/utils.js"></script>
    <script src="/static/js/jwt.js"></script>
    <script src="/static/js/menu.js"></script>
    <script src="/static/js/operationTable.js"></script>

</body>

</html>