<!DOCTYPE html>
<html lang='pt-br'>

<head>

    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>

    <link rel='stylesheet' href='/static/css/styleGlobal.css'>
    <link rel='stylesheet' href='/static/css/dashboard.css'>


    <title>Dashboard</title>

</head>

<body>

    <div class='interface'>

        <div class='menuLateral'>
            <button class='btnLogo'><img src='/static/images/logoBarao.png' alt='Logo da facul'></button>

            <nav>

                <ul class='list'>
                    <li><a href='/admin'><ion-icon name="home-outline"></ion-icon> Dashboard</a></li>
                    <li><a class='activeBorder' href='/admin/home'><ion-icon name="wallet-outline"></ion-icon> Fluxo de
                            Caixa</a></li>
                    <li><a href='/admin/services'><ion-icon name="cube-outline"></ion-icon> Produtos e Serviços</a></li>
                    <li><a href='/admin/relatorios'><ion-icon name="alert-circle-outline"></ion-icon> Relatórios Financeiros</a></li>
                    <li><a href='/admin/tutoriais'><ion-icon name="book-outline"></ion-icon> Tutoriais</a></li>
                    <li><a href='/admin/settings'><ion-icon name="settings-outline"></ion-icon> Configurações</a></li>
                </ul>

            </nav>

            <button class='btnOut'><ion-icon name="log-out-outline"></ion-icon> Sign out</button>

        </div>

        <main class='iMain'>

            <h2>Fluxo de caixa</h2>

            <div class='filterContainer'>
                <div class='fieldContent'>
                    <label for='filterData'>Filtro de data</label>
                    <select name='filterData' id='filterData'>
                        <option value=''>Selecione</option>
                        <option value='d'>Dia</option>
                        <option value='w'>Semana</option>
                        <option value='m'>Mês</option>
                        <option value='y'>Ano</option>
                    </select>
                </div>
                <div class='fieldContent'>
                    <label for='filterType'>Filtro de tipo</label>
                    <select name='filterType' id='filterType'>
                        <option value=''>Selecione</option>
                        <option value='r'>Aluguel</option>
                        <option value='b'>Compra</option>
                        <option value='t'>Taxa</option>
                        <option value='s'>Venda</option>
                    </select>
                </div>
                <div class='fieldContent'>
                    <label for='filterOrdem'>Ordenar por</label>
                    <select name='filterOrdem' id='filterOrdem'>
                        <option value=''>Selecione</option>
                        <option value='d'>Decrescente</option>
                        <option value='c'>Crescente</option>
                    </select>
                </div>
            </div>

            <div class="tableContent">
                <table class="finance-table">
                    <thead>
                        <tr class="table-header">
                            <th class="table-header-cell">Tipo:</th>
                            <th class="table-header-cell">Descrição:</th>
                            <th class="table-header-cell">Produto:</th>
                            <th class="table-header-cell">Movimentação:</th>
                            <th class="table-header-cell">Data:</th>
                        </tr>
                    </thead>
                    <tbody class="tabela-op">
                        
                       
                    </tbody>
                </table>
            </div>
        </main>


    </div>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="/static/js/apiUtils.js"></script>
    <script src="/static/js/utils.js"></script>
    <script src="/static/js/menu.js"></script>
    <script src="/static/js/operationTable.js"></script>

</body>

</html>