<!DOCTYPE html>
<html lang='pt-br'>

<head>

    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>

    <link rel="stylesheet" href="/static/css/var.css">
    <link rel='stylesheet' href='/static/css/styleGlobal.css'>
    <link rel='stylesheet' href='/static/css/dashboard.css'>


    <title>Dashboard</title>

</head>

<body>

    <div class='interface'>

        <div class='menuLateral'>

            <button class='btnLogo'><img src='/static/images/logoBarao.png' alt='Logo da facul'></button>

            <nav>

                <ul class='list'>
                    <li><a class='activeBorder' href='/admin'><ion-icon name="home-outline"></ion-icon> Dashboard</a>
                    </li>
                    <li><a href='/admin/operacoes'><ion-icon name="git-compare-outline"></ion-icon>Operações</a></li>
                    <li><a href='/admin/home'><ion-icon name="wallet-outline"></ion-icon> Fluxo de Caixa</a></li>
                    <li><a href='/admin/services'><ion-icon name="cube-outline"></ion-icon> Produtos e Serviços</a></li>
                    <li><a href='/admin/relatorios'><ion-icon name="alert-circle-outline"></ion-icon> Relatórios
                            Financeiros</a></li>
                    <!-- <li><a href='/admin/tutoriais'><ion-icon name="book-outline"></ion-icon> Tutoriais</a></li> -->
                    <li><a href='/admin/settings'><ion-icon name="settings-outline"></ion-icon> Configurações</a></li>
                </ul>

            </nav>

            <button class='btnOut' onclick="logout()"><ion-icon name="log-out-outline"></ion-icon> Sign out</button>

        </div>

        <main class='iMain'>
            <h1>Bem-vindo, Jefferson</h1>
            <div class="upper-cards">
                <div class="card receita">
                    <span>Receita: R$ 0.00</span>
                </div>
                <div class="card despesa">
                    <span>Despesa: R$ 0.00</span>
                </div>
                <div class="card resultado">
                    <span>Resultado: R$ 0.00</span>
                </div>
                <div class="card saldo">
                    <span>Saldo: R$ 0.00</span>
                </div>
            </div>
            <div class="chart">
                <canvas id="chart"></canvas>
            </div>
        </main>

        <footer>
            <div class="logo">
                <img src="/static/images/pantheon.png" alt="Pantheon labs.">
                Pantheon <em> Labs </em>
            </div>
            <div class="copyright">Todos os direitos reservados - 2024</div>
        </footer>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="/static/js/apiUtils.js"></script>
    <script src="/static/js/utils.js"></script>
    <script src="/static/js/jwt.js"></script>
    <script src="/static/js/menu.js"></script>
    <script src="/static/js/home.js"></script>
</body>

</html>