<!DOCTYPE html>
<html lang='pt-br'>

<head>

    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>

    <link rel="stylesheet" href="/static/css/var.css">
    <link rel='stylesheet' href='/static/css/styleGlobal.css'>
    <link rel='stylesheet' href='/static/css/dashboard.css'>
    <link rel='stylesheet' href='/static/css/relatorios.css'>


    <title>Dashboard</title>

</head>

<body>

    <div class='interface'>

        <div class='menuLateral'>

            <button class='btnLogo'><img src='/static/images/logoBarao.png' alt='Logo da facul'></button>

            <nav>

                <ul class='list'>
                    <li><a href='/admin'><ion-icon name="home-outline"></ion-icon> Dashboard</a></li>
                    <li><a href='/admin/home'><ion-icon name="wallet-outline"></ion-icon> Fluxo de Caixa</a></li>
                    <li><a href='/admin/services'><ion-icon name="cube-outline"></ion-icon> Produtos e Serviços</a></li>
                    <li><a class='activeBorder' href='/admin/relatorios'><ion-icon
                                name="alert-circle-outline"></ion-icon> Relatórios Financeiros</a></li>
                    <li><a href='/admin/tutoriais'><ion-icon name="book-outline"></ion-icon> Tutoriais</a></li>
                    <li><a href='/admin/settings'><ion-icon name="settings-outline"></ion-icon> Configurações</a></li>
                </ul>

            </nav>

            <button class='btnOut'><ion-icon name="log-out-outline"></ion-icon> Sign out</button>

        </div>

        <main class='iMain'>
            <section class='filter-section'>
                <h2 style="color: #333; font-weight: 0;">Filtrar Relatórios Financeiros</h2>
                <form id='filterForm'>
                    <div class="inputWrapper">
                        <label for='startDate'>Data Inicial:</label>
                        <input type="text" id="startDate" name="startDate" placeholder="dd/mm/yyyy"
                            pattern="\d{2}/\d{2}/\d{4}" maxlength="10" oninput="mask(this)">
                    </div>

                    <div class="inputWrapper">
                        <label for='endDate'>Data Final:</label>
                        <input type="text" id="endDate" name="startDate" placeholder="dd/mm/yyyy"
                            pattern="\d{2}/\d{2}/\d{4}" maxlength="10" oninput="mask(this)">
                    </div>


                    <button type='submit'>Filtrar</button>
                </form>
            </section>

            <section class='report-list'>
                <h2 style="color: #333; font-weight: 0;">Relatórios Financeiros</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Receita Total</th>
                            <th>Despesa Total</th>
                            <th>Resultado Líquido</th>
                            <th>Saldo Atual</th>
                            <th>Data</th>
                        </tr>
                    </thead>
                    <tbody id='reportTableBody'>
                        <!-- Relatórios serão inseridos aqui -->
                    </tbody>
                </table>
            </section>
        </main>

    </div>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="/static/js/apiUtils.js"></script>
    <script src="/static/js/utils.js"></script>
    <script src="/static/js/menu.js"></script>
    <script src="/static/js/relatorios.js"></script>
    <script src="/static/js/relatorios.js"></script>

</body>

</html>