<!DOCTYPE html>
<html lang='pt-br'>

<head>

    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>

    <link rel="stylesheet" href="/static/css/var.css">
    <link rel='stylesheet' href='/static/css/styleGlobal.css'>
    <link rel='stylesheet' href='/static/css/dashboard.css'>
    <link rel='stylesheet' href='/static/css/services.css'>
    <link rel="stylesheet" href="/static/css/modal.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">




    <title>Dashboard</title>

</head>

<body>

    <div class='interface'>

        <div class='menuLateral'>

            <button class='btnLogo'><img src='/static/images/logoBarao.png' alt='Logo da facul'></button>

            <nav>

                <ul class='list'>
                    <li><a href='/admin'><ion-icon name="home-outline"></ion-icon> Dashboard</a></li>
                    <li><a href='/admin/operacoes'><ion-icon name="git-compare-outline"></ion-icon>Operações</a></li>
                    <li><a href='/admin/home'><ion-icon name="wallet-outline"></ion-icon> Fluxo de Caixa</a></li>
                    <li><a class='activeBorder' href='/admin/services'><ion-icon name="cube-outline"></ion-icon>
                            Produtos e Serviços</a></li>
                    <li><a href='/admin/relatorios'><ion-icon name="alert-circle-outline"></ion-icon> Relatórios
                            Financeiros</a></li>
                    <!-- <li><a href='/admin/tutoriais'><ion-icon name="book-outline"></ion-icon> Tutoriais</a></li> -->
                    <li><a href='/admin/settings'><ion-icon name="settings-outline"></ion-icon> Configurações</a></li>
                </ul>

            </nav>

            <button class='btnOut' onclick="logout()"><ion-icon name="log-out-outline"></ion-icon> Sign out</button>

        </div>

        <main class='iMain'>
            <section class='product-form'>
                <h2 style="color: #333; font-weight: 0;">Criar Produto</h2>
                <form id='createProductForm'>
                    <label for='productName'>Nome:</label>
                    <input type='text' id='productName' name='productName' required>

                    <label for='productPrice'>Preço:</label>
                    <input type='number' id='productPrice' name='productPrice' required>

                    <label for='productDescription'>Descrição:</label>
                    <textarea id='productDescription' name='productDescription' required></textarea>

                    <button type='submit'>Criar Produto</button>
                </form>
            </section>

            <section class='profit-margin'>
                <h2 style="color: #333; font-weight: 0;">Margem de lucro</h2>
                <form id='profitMarginForm'>
                    <label for='profitMargin'>Margem de lucro (%):</label>
                    <input type='number' id='profitMargin' name='profitMargin' required>
                    <button type='submit'>Alterar</button>
                </form>
            </section>
            z
            <section class='product-list'>
                <h2 style="color: #333; font-weight: 0;">Lista de Produtos</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Preço</th>
                            <th>Descrição</th>
                            <th>Estoque</th>
                            <th>Valor de Venda</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody id='productTableBody'>
                    </tbody>
                </table>
            </section>
        </main>

        <div id="editModal" class="modal">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>Editar Produto</h3>
                    <button class="close-btn" id="closeModal">&times;</button>
                </div>
                <form id="editProductForm" class="edit-form">
                    <div class="form-group">
                        <label for="editProductName">Nome do Produto</label>
                        <input 
                            type="text" 
                            id="editProductName" 
                            name="productName" 
                            placeholder="Digite o nome do produto" 
                            required
                        >
                    </div>

                    <div class="form-group">
                        <label for="editProductPrice">Estoque</label>
                        <input 
                            type="number" 
                            id="editStock" 
                            name="stock" 
                            placeholder="Insira a quantidade em estoque" 
                            step="0.01" 
                            required
                        >
                    </div>
    
                    <div class="form-group">
                        <label for="editProductPrice">Preço</label>
                        <input 
                            type="number" 
                            id="editProductPrice" 
                            name="productPrice" 
                            placeholder="Insira o preço do produto" 
                            step="0.01" 
                            required
                        >
                    </div>
    
                    <div class="form-group">
                        <label for="editProductDescription">Descrição</label>
                        <textarea 
                            id="editProductDescription" 
                            name="productDescription" 
                            placeholder="Descreva o produto" 
                            rows="4" 
                            required
                        ></textarea>
                    </div>
    
                    <button type="submit" class="submit-btn">Salvar Alterações</button>
                </form>
            </div>
        </div>

        <footer>
            <div class="logo">
                <img src="/static/images/pantheon.png" alt="Pantheon labs.">
                Pantheon <em> Labs </em>
            </div>
            <div class="copyright">Todos os direitos reservados - 2024</div>
        </footer>
    </div>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="/static/js/apiUtils.js"></script>
    <script src="/static/js/utils.js"></script>
    <script src="/static/js/jwt.js"></script>
    <script src="/static/js/menu.js"></script>
    <script src="/static/js/services.js"></script>
    <script src="/static/js/modal.js"></script>

</body>

</html>